<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/js/owl-carusel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/js/owl-carusel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/assets/css/style.css?ver=27.07.22">
    <link rel="stylesheet" href="/assets/js/airDatepicker/air-datepicker.css">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <title>{{ title }}</title>
</head>
<body>
<main class="main">
    <aside class="sidebar">
        <div class="sidebar__logo">
            <img src="/assets/img/metra-logo.svg" alt="">
            <p>Кабинет диллера</p>
        </div>

        <nav class="sidebar__menu">
            <ul class="sidebar__menu-list">
                {% for sidebarUnit in sidebar %}
                <li class="sidebar__menu-item">
                    <a href="{{ sidebarUnit.link }}" class="sidebar__menu-item-link">
                        <div class="sidebar__menu-item-link-icon">
                            {{ sidebarUnit.svg | raw }}
                        </div>
                        <p>{{ sidebarUnit.name }}</p>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <div class="work-area">
        <div class="box-container">
            <header class="work-area__header">
                <h1 class="page-title">{{ title }}</h1>
                <div class="other-header__block">

                    <div class="notification-header">
                        <div class="notification-header__bell">
                            <img src="/assets/img/bell.svg" alt="">
{#                            <div class="notification-header__bell-round notification-header__bell-round_active"></div>#}
                            <div class="notification-header__bell-round"></div>
                        </div>
                    </div>

                    <div class="demiter-header"></div>

                    <div class="header-person">
                        <h4 class="header-person__name">{{ headerName }}</h4>
                        <div class="header-person__round">
                            <div class="header-person__round-img">
                                <img src="/assets/img/user.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="work-space">