{% extends 'admin/base.twig' %}

{% block body %}
    <div class="tkp-data-info-block tkp-data-block">
        <h4 class="tkp-product-title">Общие данные</h4>
        {% if tkpData.info %}
            <div class="tkp-edit-line">
                <div class="input-block">
                    <div class="input-block__title">
                        <label for="tkp-name">Название</label>
                    </div>
                    <input type="text" id="tkp-name" value="{{ tkpData.info.name }}">
                </div>

                <div class="input-block">
                    <div class="input-block__title">
                        <label for="type_sensor">Количество датчиков</label>
                    </div>
                    <input type="text" id="type_sensor" placeholder="" value="{{ tkpData.info.count_sensor }}">
                </div>
            </div>

            <div class="tkp-edit-line">
                <div class="input-block">
                    <div class="input-block__title">
                        <label for="type_instalation">Тип весов</label>
                    </div>
                    <input type="text" id="type_instalation" value="{{ tkpData.info.model }}">
                </div>

                <div class="input-block">
                    <div class="input-block__title">
                        <label for="path">Путь до файла</label>
                    </div>
                    <input type="text" id="path" value="{{ tkpData.info.path }}">
                </div>
            </div>
        {% endif %}
    </div>


    <div class="tkp-product-block tkp-data-block">
        <h4 class="tkp-product-title">Состав ТКП</h4>
        <div class="tkp-data-wrapper">
            {% if tkpData.products %}
                {% for product in tkpData.products %}
                    <div class="tkp-data-wrapper-item tkp-data-wrapper-item-current input-block">
                        <div class="input-block__title">
                            <label for="product_id_{{ product.product_id }}">Ид продукта</label>
                        </div>
                        <input type="text" id="product_id_{{ product.product_id }}" value="{{ product.product_id }}" data-id="{{ product.id }}">
                    </div>
                {% endfor %}
            {% endif %}
        </div>

        <button class="blue-btn blue-btn_serv tkp-data-wrapper_btn" id="add-tkp-product">Добавить продукт</button>
    </div>

    <div class="tkp-edit-btns">
        <button class="blue-btn blue-btn_serv" id="save-tkp-data" data-id="{{ tkpData.info.id }}">Сохранить изменения</button>
        <button class="red-btn blue-btn_serv" id="delete-tkp" data-id="{{ tkpData.info.id }}">Удалить ТКП</button>
    </div>


{% endblock %}